div.task-description{
    text-align: -webkit-center;
    
}
div.task-description > textarea{
    display: block;
    line-height: normal;
    min-height: 200px;
    width: 300px;
    font-family: 'Calamity Bold', Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 10px;
    margin-top: 20px;
}

div.task-description input.input-name{
    display: block;
    font-size: 25px;
    text-align: center;
}

div.task-description button {
    border: 0;
    border-radius: 2px;
    height: 18px;
    padding: 0 20px;
    font-size: 15px;
    font-weight: bold;
    color: #FFF;
    cursor: pointer; 
    transition: all .4s ease-in-out;   
}

div.task-description button.mark-done {
    float: left;
    background: rgb(71, 224, 105);
}

div.task-description button.mark-update {
    background: rgb(216, 196, 16);
}

div.task-description button.mark-done:hover {
    background: rgb(5, 124, 31);
}

div.task-description button.mark-delete {
    float: right;
    background: rgb(231, 109, 109);    
}

div.task-description button.mark-delete:hover {
    background: rgb(209, 68, 68); 
}